# Dependencias
node_modules/

# Build
dist/
build/
.next/

# Variables de entorno
.env
.env.local
.env.production

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*

# Docker
.dockerignore